/* ДЛЯ МОБИЛЬНЫХ */

#background{
	background: url(y.jpg);
}
#tablebackground {
    background: rgba(175, 238, 238);
}
#shapa {
    border: 1px solid black;
    background: rgba(224, 255, 255);
    text-align: left;
    font: normal small-caps 52px/54px fantasy;
    height: 32mm;
    line-height: 100px;
    max-height: 200px;
}

#main {
    border: 1px solid black;
    background: rgba(224, 255, 255);
    text-align: left;
    font: bold italic 110% serif;
}

#links {
    border: 1px solid black;
    background: rgba(224, 255, 255);
}

#forma {
    border: 1px solid black;
    background: rgba(102, 205, 170);
}