body {
    font-family: Arial, sans-serif;
}

header {
    flex-direction: column;
}

.header .logo, .header .contact {
    text-align: center;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
    }

    .header .logo, .header .contact {
        text-align: left;
    }
}
	.logo a {
            text-decoration: none; /* Убираем подчеркивание у ссылки */
            color: inherit; /* Наследуем цвет текста */
            display: flex;
            align-items: center;
        }
	.logo a:hover {
		text-decoration: none; /* Убираем подчеркивание при наведении */
	}

#map {
    width: 100%;
    height: 400px;
}

.phone-link {
            color: white; /* Цвет текста */
            text-decoration: underline; /* Подчеркивание текста */
            cursor: pointer; /* Курсор в виде руки */
        }

        .phone-link:hover {
            color: #ffcc00; /* Цвет текста при наведении */
        }
.phone-link-black {
            color: black; /* Цвет текста */
            text-decoration: underline; /* Подчеркивание текста */
            cursor: pointer; /* Курсор в виде руки */
        }

        .phone-link-black:hover {
            color: #ffcc00; /* Цвет текста при наведении */
        }
		
.navbar-nav .nav-item .nav-link {
            color: #343a40; /* Цвет текста */
            font-weight: bold; /* Жирный шрифт */
			margin: 5px;
            padding: 10px 15px; /* Отступы */
            border-radius: 5px; /* Скругленные углы */
            transition: background-color 0.3s, color 0.3s; /* Плавный переход */
        }

        .navbar-nav .nav-item .nav-link:hover,
        .navbar-nav .nav-item.active .nav-link {
            background-color: #343a40; /* Цвет фона при наведении и активной вкладке */
            color: #fff; /* Цвет текста при наведении и активной вкладке */
        }

        .navbar-nav .nav-item.active .nav-link {
            border-bottom: 0px solid #343a46; /* Линия под активной вкладкой */
        }

.advantage {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.advantage:hover {
    transform: translateY(-10px);
}
.advantage {
            text-align: center;
            margin-bottom: 30px;
        }
        .advantage img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
        .advantage h3 {
            margin: 15px 0;
        }
        .advantage p {
            color: #555;
        }


.advantage img {
            width: 100%; /* Ширина изображения */
            height: 70%; /* Фиксированная высота изображения */
            object-fit: cover; /* Сохранение пропорций изображения */
            border-radius: 8px; /* Скругление углов */
        }
        .advantage {
            text-align: center;
            margin-bottom: 30px;
        }
        .advantage h3 {
            margin: 15px 0;
        }
        .advantage p {
            color: #555;
        }